.buttons-view {
	margin: 20px 0px 20px 0px;
}

.fooddrinkDiv {
    margin-right: 10px;
    float: left;
    margin-bottom: 20px;
}
.topic {
	margin-right: 5px;
	margin-bottom: 5px;
	background-color: #2d4bd1;
	color: white;
}